.deeper ul.dropdown li:hover>a, .deeper>li.active>a, .deeper>li:hover>a {
	background:#008C9E;
	color:#fff
}
.deeper li>.megamenu form input[type=text]:focus, .deeper li>.megamenu form textarea:focus {
	border-color:#008C9E
}
.deeper li>.megamenu form input[type=submit]:hover {
	background:#008C9E;
	color:#fff
}
.deeper li>.megamenu a:hover {
	color:#008C9E
}