.green ul.dropdown li:hover>a, .green>li.active>a, .green>li:hover>a {
	background:#88c425;
	color:#fff
}
.green li>.megamenu form input[type=text]:focus, .green li>.megamenu form textarea:focus {
	border-color:#88c425
}
.green li>.megamenu form input[type=submit]:hover {
	background:#88c425;
	color:#fff
}
.green li>.megamenu a:hover {
	color:#88c425
}