.pink ul.dropdown li:hover>a, .pink>li.active>a, .pink>li:hover>a {
	background:#F56991;
	color:#fff
}
.pink li>.megamenu form input[type=text]:focus, .pink li>.megamenu form textarea:focus {
	border-color:#F56991
}
.pink li>.megamenu form input[type=submit]:hover {
	background:#F56991;
	color:#fff
}
.pink li>.megamenu a:hover {
	color:#F56991
}