.red ul.dropdown li:hover>a, .red>li.active>a, .red>li:hover>a {
	background:#C21A01;
	color:#fff
}
.red li>.megamenu form input[type=text]:focus, .red li>.megamenu form textarea:focus {
	border-color:#C21A01
}
.red li>.megamenu form input[type=submit]:hover {
	background:#C21A01;
	color:#fff
}
.red li>.megamenu a:hover {
	color:#C21A01
}