.yellow ul.dropdown li:hover>a, .yellow>li.active>a, .yellow>li:hover>a {
	background:#febf01;
	color:#222
}
.yellow li>.megamenu form input[type=text]:focus, .yellow li>.megamenu form textarea:focus {
	border-color:#febf01
}
.yellow li>.megamenu form input[type=submit]:hover {
	background:#febf01;
	color:#222
}
.yellow li>.megamenu a:hover {
	color:#febf01
}