body {
	background: #ddd;
}
.btnmostrar {
	width: 100%;
	float: right;
	height: 30px;
	/*
	margin-top: 10px;
	*/
}
.editar form input[type=text], .text {
	width: 100%;
	margin-top:10px;
	padding:5px;
	/*
	color:#999;
	background:#fff;
	*/
	font-family:'Open Sans', sans-serif;
	font-size:14px;
	border:solid 1px transparent;
	outline:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
-webkit-transition:border .3s linear;
-moz-transition:border .3s linear;
-o-transition:border .3s linear;
transition:border .3s linear
}
.editarform input[type=text]:focus, .text:focus {
	border-color: #02b8fa
}

#form {
	margin-bottom: 0;
}
form #item1{
	margin: 10px;
}
/*
.editar form input[type=text], .text {
	width: 100%;
	margin-top:10px;
	padding:5px;
}
.editar form input[type=text]:focus, .text:focus {
	border-color: #02b8fa
}
*/
#div_center {
	width: 500px;
	height: 345px;
	padding: 10px;
	background: #edf3f3;
}
@media (max-width: 614px) {
#div_center {
	width: auto;
	height: 345px;
	padding: 10px;
	margin: 0 20px;
}
}
.contato form input[type=text], .text {
	width: 100%;
	margin-top:10px;
	padding:5px;
	/*
	color:#999;
	background:#fff;
	*/
	font-family:'Open Sans', sans-serif;
	font-size:14px;
	border:solid 1px transparent;
	outline:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
-webkit-transition:border .3s linear;
-moz-transition:border .3s linear;
-o-transition:border .3s linear;
transition:border .3s linear
}
.contato form input[type=text]:focus, .text:focus {
	border-color: #02b8fa
}
.btnfalar {
	width: 25%;
	float: right;
	height: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: none;
	cursor: pointer;
	background: #cdd1d1;
	color: #777;
	font-family: 'Open Sans', sans-serif;
-webkit-transition: background .3s linear;
-moz-transition: background .3s linear;
-o-transition: background .3s linear;
transition: background .3s linear
}
.btnfalar:hover {
	background: #02b8fa;
	color: #fff
}