/*
body {
	background-color: #2980b9;
	height: 100%;
	border-width: 30px 30px 90px 30px;
	-webkit-transition: border-width 0.3s, background-color 0.3s;
	transition: border-width 0.3s, background-color 0.3s;

}

#master {
	width: auto;
	background: #fff;
	height: auto;
	margin-top: 70px;
	margin-right: 10%;
	margin-left: 10%;
}
#menu {
	clear: both;
	width: 100%;
	height: 70px;
	position: fixed;
	margin-top: -70px;
	background: #2980b9;

	text-align: center;
	padding: 2em 0 3em;

}
#menu #offpage {
	clear: both;

	margin: 0.3em;
	margin-top: 50px ;
	padding: 0.3em 0.9em;
	/*padding: 0.7em 1.1em;*s/
	outline: none;
	border: 3px solid rgba(0,0,0,0.3);
	color: rgba(0,0,0,0.3);
	text-decoration: none;
	font-weight: 700;
	opacity: 1;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;

}
#menu #offpage:hover,
#menu a#onpage,
#menu a#onpage:hover,
#menu #offpage:focus {
	clear: both;

	display: inline-block;
	margin: 0.3em;
	padding: 0.3em 0.9em;
	outline: none;
	border: 3px solid rgba(0,0,0,0.3);
	color: rgba(0,0,0,0.3);
	text-decoration: none;
	font-weight: 700;
	opacity: 1;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	
	border-color: #fff;
	color: #fff;

}
#logo {
	clear: both;
	width: 160px;
	height: 60px;
	margin: 5px 5px 5px 10%;
}
#menu #perfil {
	clear: both;
	font-size: 14px;
}
a:link {
font-weight: bold;
color: #000000;
text-decoration: none;
}
a:visited {
font-weight: bold;
color: #1c5981;
text-decoration: none;
}
a:hover {
font-weight: bold;
color: #FFFFFF;
text-decoration: underline;
}
a:active {
font-weight: bold;
color: #ffffff;
text-decoration: underline;


background-color:#000000;

}

#content {
	margin: 10px;
}

#rodape {
	text-align: center;
	margin: 5px 5px 5px 5px;
	opacity: 0.6;
	margin-right: 10%;
	margin-left: 10%;
}
.foot{
	width: auto;
	height: 100px;
	font-size:12px;
}
.foot a:link{color:#999;text-decoration:none;}
*/