/*
#content {
}
*/

.userpass {
	float: left;
	width: 70px;
}
.col3 form .txt:focus{
	border-color:#e0e0e0
}
.col3 form .txt {
	width:100%;
	margin-top:10px;
}
.col3 form .txt {
	border-color:#02b8fa;
}

div #btn_enviar {
/*
	display: inline-block;
	margin: 0.3em;
	padding: 0.3em 0.9em;
	//padding: 0.7em 1.1em;//
	outline: none;
	border: 3px solid rgba(0,0,0,0.3);
	color: rgba(0,0,0,0.3);
	text-decoration: none;
	font-weight: 700;
	opacity: 1;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
*/
	width: 70px;
	height:30px;
	margin-top:10px;
	border:none;
	cursor:pointer;
	background:#444;
	color:#777;
	font-family:'Open Sans', sans-serif;
-webkit-transition:background .3s linear;
-moz-transition:background .3s linear;
-o-transition:background .3s linear;
transition:background .3s linear
}
div >#btn_enviar:hover {
	background:#02b8fa;
	color:#fff
}