body {
	background: #ddd;
}
#excluir {
	width: 300px;
    position: fixed;
    _position:absolute;
    _margin-bottom:0;
    _margin-right:0;
    right:0;
    bottom:0;
	background-color: #666;
}

#excluir form{
	margin: 10px;
}

#title_menssage {
	font-size: 16px;
	color: #333;
}
#notificacao {
	width: 100%;
}

.notificacoes {
	padding: 5px;
	background-color: rgba(237, 243, 243, 1);
	border: 2px solid  #02b8fa;
}.notificacoes a:link {
	color: #02b8fa;
	text-decoration: none;
}.notificacoes a:hover {
	color: #02b8fa;
	text-decoration: underline;
}.notificacoes a:active {
	color: #0293c7;
	text-decoration: underline;
}.notificacoes a:visited {
	color: #02b8fa;
	text-decoration: none;
}.notificacoes div {
	color:#555;
	/*
	color:#999;
	*/
}

.btnmostrar {
	width: 50%;
}
#divmail {
	width: 50%;
	position: relative;
    _margin-top: 0;
    _margin-right: 0;
    right: 0;
    top: 0;
}
#item2 input[type=file]::-webkit-file-upload-button {
	color: #777;
	border: none;
	padding: 5px;
	cursor: pointer;
	background: #cdd1d1;
	font-family: 'Open Sans', sans-serif;
-webkit-transition: background .3s linear;
-moz-transition: background .3s linear;
-o-transition: background .3s linear;
transition: background .3s linear
}
#item2 input[type=file]:hover::-webkit-file-upload-button {
	background: #02b8fa;
	color: #fff
}
#item2 input[type=file]::before {
}
#item2 input[type=file]:hover::before {
}
#item2 input[type=file]:active::before {
}
}.btnenviar:hover {
}