body {
	background: #ddd;
}
.editar {
	/*
	border: 2px solid #1c5981;
	*/
	
	/*
	width: 300px;
    position: fixed;
    _position: absolute;
    _margin-bottom: 0;
    _margin-right: 0;
    right: 0;
    bottom: 0;
	background-color: rgba(237, 243, 243, 0.8);
	*/
	
	/*
	background-color: rgba(41, 128, 185, 0.8);
	*/
}
.btnenviar {
	width: 25%;
	float: right;
	height: 30px;
	/*
	margin-top: 10px;
	*/
	border: none;
	cursor: pointer;
	background: #cdd1d1;
	color: #777;
	font-family: 'Open Sans', sans-serif;
-webkit-transition: background .3s linear;
-moz-transition: background .3s linear;
-o-transition: background .3s linear;
transition: background .3s linear
}
.btnenviar:hover {
	background: #02b8fa;
	color: #fff
}
.btnmostrar {
	width: 25%;
	float: right;
	height: 30px;
	/*
	margin-top: 10px;
	*/
}

#form {
	margin-bottom: 0;
}
form #item1{
	margin: 10px;
}
form #item2{
	margin: 10px;
}
form #item3{
	margin: 10px;
}
form #item4{
	margin: 10px;
}
/*
.editar form input[type=text], .text {
	width: 100%;
	margin-top:10px;
	padding:5px;
}
.editarform input[type=text]:focus, .text:focus {
	border-color: #02b8fa
}
*/
.pageimg {
	width: 450px;
	height: auto;
}
@media (max-width: 520px) {
.pageimg {
	width: 100%;
	height: auto;
}
}
