body {
	background: #ddd;
}
.btnmostrar {
	width: 100%;
	float: right;
	height: 30px;
	/*
	margin-top: 10px;
	*/
}

#form {
	margin-bottom: 0;
}
form #item1{
	margin: 10px;
}
/*
.editar form input[type=text], .text {
	width: 100%;
	margin-top:10px;
}
.editarform input[type=text]:focus, .text:focus {
	border-color: #02b8fa
}
*/