body {
	background: #ddd;
}
#user {
}

#perfil {
	clear: both;
	width: 500px;
	height: auto;
}
#perfil label {
	float: left;
	width: 150px;
}

#alterar {
    position: fixed;
    _position:absolute;
    _margin-bottom:0;
    _margin-right:0;
    right:0;
    bottom:0;
	background-color: #666;
}

#alterar2 {
	margin: 10px;
}
#login form label {
	float: left;
	width: 75px;
}
#senha form label {
	float: left;
	width: 75px;
}

.btnmostrar {
	width: 100%;
}